
<div class="offering">

    <div class="offering-image">
        <img src={{offering.img}} alt="hg">
      </div>
      <!-- /.offering-image -->

  <div class="left-side">
      
    <div class="offering-title">
      <p class="offering-title_name">{{offering.name}}</p>
      <p class="offering-title_location">{{offering.location}}</p>
    </div>
    <!-- /.offering-title -->

    <div class="offering-info">
       
      <div class="offering-info_invest">

        <div class="offering-info_invest-available">
          <span>Available to invest</span><span>{{offering.availableToInvest}}</span>
        </div>
        <!-- /.offering-info_invest-available -->

        <div class="offering-info_invest-progress">
          <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width':offering.mortage}" [ngClass]="{'completed': offering.availableToInvest === 'COMPLETED'}" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>  
        <!-- /.offering-info_invest-progress -->

        </div>
        <!-- /.offering-info_invest -->
        
        <div class="offering-info_detail">
          <div class="offering-info_detail-left">
            <div class="purchase-cost">
              <span>Purchast cost</span><span>{{offering.purchase}}</span>
            </div>
            <div class="min-invest">
              <span>Min. Investment</span><span>{{offering.minInvest}}</span>
            </div>
            <div class="invest-type">
              <span>Investment Type</span><span>{{offering.investType}}</span>
            </div>
          </div>
          <!-- /.offering-info_detail-left -->

          <div class="offering-info_detail-right">
            <div class="mortage">
              <span>Mortage(LTV)</span><span>{{offering.mortage}}</span>
            </div>
            <div  class="holding-period">
              <span>Holding Period</span><span>{{offering.holdingPeriod}}</span>
            </div>
            <div  class="exp-return">
              <span>Expected Return</span><span>{{offering.expentedReturn}}</span>
            </div>
          </div>
          <!-- /.offering-info_detail-right -->

        </div>
        <!-- /.offering-info_detail -->

      </div>
      <!-- /.offering-info -->

    <div class=" btn-container" [ngSwitch]="(hasUserOffer(offering)) ? 2 : (offering.mortage == 0) ? 1 : (offering.mortage == 100) ? 3 : 4">

      <div class="pre-subscribe_btn" *ngSwitchCase="1">
        <button>PRE-SUBSCRIBE</button>
      </div>

      <div class="new-invest_btn" *ngSwitchCase="2">
        <button>NEW INVEST</button>
      </div>

      <div class="waiting-list_btn" *ngSwitchCase="3">
        <button>ADD TO WAITING LIST</button>
      </div>

      <div class="offering-details_btn" *ngSwitchDefault >
        <button>MORE DETAILS</button>
      </div>
    
      
    </div>
    <!-- /.btn-container -->

  </div>
  <!-- /.left-side -->

  </div>
  <!-- /.offerig -->

  <!-- <ng-template #more-detail>
      <div class="offering-details_btn">
          <button>MORE DETAILS</button>
      </div>
  </ng-template>

  <ng-template #waiting-list>
      <div class="waiting-list_btn">
          <button>ADD ME TO WAITING LIST</button>
      </div>
  </ng-template>

  <ng-template #pre-subscribe>
      <div class="pre-subscribe_btn">
          <button>PRE-SUBSCRIBE</button>
      </div>
  </ng-template>
   -->
  