
<nav>
  <div class="container-fluid">  
    <div class="row">
        <div class="col-md-2 left-side">
            <div class="logo">
                <a href="#"><img src="../assets/MockData/logo.png" alt="logo"></a>
            </div>
            <!-- /.logo -->
        </div>

        <div class="col-md-10 right-side">
          <div class="top-nav">

            <div class="top-nav_router-link">
                <img src="../assets/MockData/List_icon.svg.png" alt=""> 
                <span>Offerings</span>
            </div>
            <!-- /.router-link -->

            <div class="top-nav_user">
              <div class="top-nav_user-info">
                  <div class="question">
                    <span class="glyphicon glyphicon-question-sign"></span>
                    <div class="ntf question-notofication"></div>
                  </div>
                  <div class="bell">
                    <span class="glyphicon glyphicon-bell"></span>
                    <div class="ntf bell-notofication">5</div>
                  </div>
                  <div class="envelope">
                    <span class="glyphicon glyphicon-envelope"></span>
                    <div class="ntf envelope-notofication">12</div>
                  </div>
                  <div class="user">
                    <span class="glyphicon glyphicon-user"></span>
                    <div class="ntf user-notofication">1</div>
                  </div>
                  
              </div>
              <!-- /.top-nav_user-info -->

              <div class="top-nav_user-toggle">
                <!--Get bootstrap dropdown menu-->
                <div class="dropdown">
                    <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      James Tortis
                    </a>
                  
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="#">Notifications</a>
                      <a class="dropdown-item" href="#">Messages</a>
                      <a class="dropdown-item" href="#">Offerings</a>
                      <a class="dropdown-item" href="#">Profile</a>
                      <a class="dropdown-item" href="#">Settings</a>
                      <a class="dropdown-item" href="#">Log-Out</a>
                    </div>
                  </div>
              </div>
              <!-- /.top-nav_user-menu -->

              

            </div>
            <!-- /.top-nav_user -->
          </div>
          <!-- /.top-nav -->
        </div> 

      </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
      
    <div class="col-md-2 left-side">

        <div class="left-sidebar">

            <ul class="left-sidebar_menu">
              <li><a href="#"><img src="../assets/MockData/dashboard.png" alt="">DASHBOARD</a></li>
              <li><a href="offerings"><img src="../assets/MockData/offerings.png" alt="">OFFERINGS</a></li>
              <li><a href="#"><img src="../assets/MockData/transactions.png" alt="">TRANSACTIONS</a></li>
              <li><a href="#"><img src="../assets/MockData/settings.png" alt="">SETTING</a></li>
              <li><a href="#"><img src="../assets/MockData/dashboard.png" alt="">Value</a></li>
              <li><a href="#"><img src="../assets/MockData/dashboard.png" alt="">Value</a></li>
            </ul>
            <!--/left-sidebar_menu-->
        
        </div>
        <!-- /.left-sidebar -->
    </div>

  <div class="col-md-10">
      <router-outlet></router-outlet>
  </div>

  </div>
</div>

  




