@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

@mixin border-menu-style () {
    color: $menu-color;
    border-bottom: 2px $menu-border-color solid;
    list-style: none;
    a{
        display: block;
                padding: 15px 10px;
                color: $menu-color;
                font-size: 10px;
                font-weight: $menu-weight;
                text-decoration: none;
                text-transform: uppercase;
    }
    &:hover{
        background: #9caebe7a;
    }
}

$body-bg: #ebedef;
$menu-bg: #1f2b3e;
$white: #ffffff;
$menu-color: #9caebe;
$menu-weight: 600;
$menu-border-color: #263546eb;
$user-info-ntf-color: #fe8033;



.container-fluid{
    padding: 0 0;
    overflow: hidden;
}

.router-container{
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // justify-items: center;
    // align-content: center;
    // align-items: center;
    width: 100%;
    margin: auto;
    margin-left: auto;
}

.left-side{
    padding-right: 0;

}

.right-side{
    padding-left: 0;
}

.logo{
    background: $menu-bg;
    height: 100%;
    // padding-top: 15px; 
    img{
        width: 100%;
    }
}

.left-sidebar{
    background-color: $menu-bg;
    // width: 100%;
    top: 0;
    bottom: 0;
    height: 100%;
    min-height: 100vh;
    &_menu{
        padding: 0;
        margin: 0;
        // :first-child don't work!
        &:first-of-type {
            border-top: 2px $menu-border-color solid;
        }
        &-toggle{
            text-align: center;
            padding: 4px;
            display: none;
        }
        li{ 
            @include border-menu-style();
            img{
                width: 16px;
                margin-right: 10px; 
            }
        }
    }
}

.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px $menu-color solid;
    height: 40px;
    &_router-link{
        color: $menu-color;
        img{
         margin: 0 15px;
         width: 20px;
        }
    }
    &_user{
        display: flex;
        margin-top: 10px;
        &-info{
            display: flex;
            justify-content: space-between;
            div{
                position: relative;
            }
            span{
                position: relative;
                margin: 0 10px;
            }
            .ntf{
                position: absolute;
                top: -5px;
                right: 1px;
                background: $user-info-ntf-color;
                font-size: 10px;
                padding: 0 1px;
                width: 14px;
                text-align: center;
            }
        }

        &-toggle{
            margin: 0 20px 0 10px;
            text-decoration: none;
            a{
                // text-decoration: none;
                padding: 5px 15px 5px 15px !important;
                @include border-menu-style();

                color: black;
                cursor: pointer;
            }        
        }
    }
    
}

.user-menu{
    display: none;
    justify-content: flex-end;
    margin-bottom: 0;
    background: $menu-bg;
    li{
        @include border-menu-style();
        padding: 0px 15px;
        a{
            padding: 10px 10px;
        }
    }
}

.show_user-menu{
    display: flex;
}



@media screen and (max-width: 770px){
    .left-sidebar{
        min-height: 0;
        &_menu{
            &-toggle{
             display: inherit;
            }
            .show-menu{
              display: none;
            }
        }
    }

    .show_sidebar-menu {
        display: block !important;
    }
    
    .user-menu {
        justify-content: center;
        padding-left: 0;
        padding: 0px 0 0 10px;
        li{
            padding: 0;
            a{
                padding: 20px 7px;
            }
        }
        
    }


}





