
<nav>
  <div class="container-fluid">  
    <div class="row">
        <div class="col-md-2 left-side">
            <div class="logo">
                <a href="#"><img src="../assets/MockData/logo.png" alt="logo"></a>
            </div>
            <!-- /.logo -->
        </div>

        <div class="col-md-10 right-side">
          <div class="top-nav">

            <div class="top-nav_router-link">
                <img src="../assets/MockData/List_icon.svg.png" alt=""> 
                <span>Offerings</span>
            </div>
            <!-- /.router-link -->

            <div class="top-nav_user">
              <div class="top-nav_user-info">
                  <div class="question">
                    <span class="glyphicon glyphicon-question-sign"></span>
                    <div class="ntf question-notofication"></div>
                  </div>
                  <div class="bell">
                    <span class="glyphicon glyphicon-bell"></span>
                    <div class="ntf bell-notofication">5</div>
                  </div>
                  <div class="envelope">
                    <span class="glyphicon glyphicon-envelope"></span>
                    <div class="ntf envelope-notofication">12</div>
                  </div>
                  <div class="user">
                    <span class="glyphicon glyphicon-user"></span>
                    <div class="ntf user-notofication">1</div>
                  </div>
                  
              </div>
              <!-- /.top-nav_user-info -->

              <div class="top-nav_user-toggle" (click)="userToggleMenu()">
                <!--Get bootstrap dropdown-->
                <div class="dropdown">
                    <a class=" dropdown-toggle user-toggle">
                      James Tortis
                    </a>
                  
                   
                  </div>
              </div>
              <!-- /.top-nav_user-menu -->

              

            </div>
            <!-- /.top-nav_user -->
          </div>
          <!-- /.top-nav -->

          <ul class="user-menu" [ngClass]="{'show_user-menu': showUserMenu}">
            <li><a class="user-menu_item" href="#">Notifications</a></li>
            <li><a class="user-menu_item" href="#">Messages</a></li>
            <li><a class="user-menu_item" href="#">Offerings</a></li>
            <li><a class="user-menu_item" href="#">Profile</a></li>
            <li><a class="user-menu_item" href="#">Settings</a></li>
            <li><a class="user-menu_item" href="#">Log-Out</a></li>
          </ul>
          <!-- /.user-menu -->

        </div> 

      </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
      
    <div class="col-md-2 left-side">

      <div class="left-sidebar">

        <div class="left-sidebar-toggle">

        </div>

        <ul class="left-sidebar_menu" >
          <li class="left-sidebar_menu-toggle" (click)="sidebarMenuToggle()"><span class="fa fa-navicon" style="font-size:36px"></span></li>
          <div class="show-menu" [ngClass]="{'show_sidebar-menu': showSidebarMenu}">
          <li><a href="#"><img src="../assets/MockData/dashboard.png" alt="">DASHBOARD</a></li>
          <li><a href="offerings"><img src="../assets/MockData/offerings.png" alt="">OFFERINGS</a></li>
          <li><a href="#"><img src="../assets/MockData/transactions.png" alt="">TRANSACTIONS</a></li>              <li><a href="#"><img src="../assets/MockData/settings.png" alt="">SETTING</a></li>
          <li><a href="#"><img src="../assets/MockData/dashboard.png" alt="">Value</a></li>
          <li><a href="#"><img src="../assets/MockData/dashboard.png" alt="">Value</a></li>
        </div>
        </ul>
        <!--/left-sidebar_menu-->
        
        </div>
        <!-- /.left-sidebar -->
    </div>

  <div class="col-md-10">
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>  
  </div>

  </div>
</div>

  




