@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

$title-bg: #1f2b3e;
$title-color: #e3e3e3;
$info-border-color: #9caebe;

.offering-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.offering{
    width: 25%;
    min-width: 300px;
    background: white;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    &-title{
        background: $title-bg;
        color: $title-color;
        text-align: center;
        padding: 10px;
        text-transform: uppercase;
        font-weight: 600;
        &_name{
            margin: 0;
            font-size: 12px;
        }
        &_location{
            margin: 0;
            font-size: 9px;
        }
    }
    &-image img{
            width: 100%;
            height: 120px;
    }

    &-info{
        padding: 15px 0;
        font-size: 10px;
        font-weight: 700;
        &_invest{
            padding: 0 10px;
            &-available{
            display: flex;
            justify-content: space-between;
            }        
            &-progress .progress{
                height: 5px;
                margin: 5px 0;
                .bg-warning{
                    background: linear-gradient(to right,#FFB300, #f1da366b);
                }
            }
        }
        &_detail{
            div{
                display: flex;
                justify-content: space-between;
                padding: 8px 13px;
                border-bottom: $info-border-color 1px solid;
            }
        }
    }
    &-details{
        text-align: center;
        padding-bottom: 15px;
        button{
            border: none;
            border-radius: 3px;
            background: orange;
            font-size: 10px;
            padding: 5px 15px;
            color: white;
            font-weight: 600;
        }
    }
}

.completed{
    background: linear-gradient(to right,green , #f1da366b) !important;
}

@media screen and (max-width: 770px){
    .offering-container{
        justify-content: center;
    }

    .showDetail{
        display: none;
    }
}